# Reading a file with pandas

## Overview
- **Teaching:** 10 min
- **Exercises:** 5 min

**Questions**
* How can I read my data file into pandas?

**Objectives**
* Use pandas to read in a CSV file.

One of the most common situations is that you have some data file containing the data you want to read. Perhaps this is data you've produced yourself or maybe it's from a collegue. In an ideal world the file will be perfectly formatted and will be trivial to import into pandas but since this is so often not the case, it provides a number of features to make your ife easier.

Full information on reading and writing is available in the pandas manual on [IO tools](http://pandas.pydata.org/pandas-docs/stable/io.html) but first it's worth noting the common formats that pandas can work with:
- Comma separated tables (or tab-separated or space-separated etc.)
- Excel spreadsheets
- HDF5 files
- SQL databases

For this lesson we will focus on plain-text CSV files as they are perhaps the most common format. Imagine we have a CSV file like (if you are not running on notebooks.azure.com you will need to download this file from [city_pop.csv](../data/city_pop.csv)):

In [1]:
!cat ../data/city_pop.csv  # Uses the IPython 'magic' !cat to print the file

This is an example CSV file
The text at the top here is not part of the data but instead is here
to describe the file. You'll see this quite often in real-world data.
A -1 signifies a missing value.

year;London;Paris;Rome
2001;7.322;2.148;2.547
2006;7.652;;2.627
2008;-1;2.211;
2009;-1;2.234;2.734
2011;8.174;;
2012;-1;2.244;2.627
2015;8.615;;

We can use the pandas function `read_csv()` to read the file and convert it to a `DataFrame`. Full documentation for this function can be found in [the manual](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) or, as with any Python object, directly in the notebook by typing `help(pd.read_csv)`.

In [4]:
import pandas as pd

csv_file = '../data/city_pop.csv'
pd.read_csv(csv_file)

                          This is an example CSV file
0   The text at the top here is not part of the da...
1   to describe the file. You'll see this quite of...
2                     A -1 signifies a missing value.
3                              year;London;Paris;Rome
4                              2001;7.322;2.148;2.547
5                                   2006;7.652;;2.627
6                                      2008;-1;2.211;
7                                 2009;-1;2.234;2.734
8                                        2011;8.174;;
9                                 2012;-1;2.244;2.627
10                                       2015;8.615;;

We can see that by default it's done a fairly bad job of parsing the file (this is mostly because it has been construsted to be as obtuse as possible). It's making a lot of assumptions about the structure of the file but in general it's taking quite a na√Øve approach.

The first this we notice is that it's treating the text at the top of the file as though it's data. Checking [the documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) we see that the simplest way to solve this is to use the `skiprows` argument to the function to which we give an integer giving the number of rows to skip:

In [6]:
pd.read_csv(csv_file,
            skiprows=5,
            )

   year;London;Paris;Rome
0  2001;7.322;2.148;2.547
1       2006;7.652;;2.627
2          2008;-1;2.211;
3     2009;-1;2.234;2.734
4            2011;8.174;;
5     2012;-1;2.244;2.627
6            2015;8.615;;

## Info: Editing cells
If you are following along with this material in a notebook, don't forget you can edit a cell and execute it again.
In this lesson, you can just keep modifying the input to the `read_csv()` function and re-execute the cell, rather than making a new cell for each modification.

The next most obvious problem is that it is not separating the columns at all. This is controlled by the `sep` argument which is set to `','` by default (hence *comma* separated values). We can simply set it to the appropriate semi-colon:

In [7]:
pd.read_csv(csv_file,
            skiprows=5,
            sep=';'
           )

   year  London  Paris   Rome
0  2001   7.322  2.148  2.547
1  2006   7.652    NaN  2.627
2  2008  -1.000  2.211    NaN
3  2009  -1.000  2.234  2.734
4  2011   8.174    NaN    NaN
5  2012  -1.000  2.244  2.627
6  2015   8.615    NaN    NaN

Reading the descriptive header of our data file we see that a value of `-1` signifies a missing reading so we should mark those too. This can be done after the fact but it is simplest to do it at import-time using the `na_values` argument:

In [9]:
pd.read_csv(csv_file,
            skiprows=5,
            sep=';',
            na_values='-1'
           )

   year  London  Paris   Rome
0  2001   7.322  2.148  2.547
1  2006   7.652    NaN  2.627
2  2008     NaN  2.211    NaN
3  2009     NaN  2.234  2.734
4  2011   8.174    NaN    NaN
5  2012     NaN  2.244  2.627
6  2015   8.615    NaN    NaN

The last this we want to do is use the `year` column as the index for the `DataFrame`. This can be done by passing the name of the column to the `index_col` argument:

In [10]:
df3 = pd.read_csv(csv_file,
                  skiprows=5,
                  sep=';',
                  na_values='-1',
                  index_col='year'
                 )
df3

      London  Paris   Rome
year
2001   7.322  2.148  2.547
2006   7.652    NaN  2.627
2008     NaN  2.211    NaN
2009     NaN  2.234  2.734
2011   8.174    NaN    NaN
2012     NaN  2.244  2.627
2015   8.615    NaN    NaN

## Exercise: Comma separated files
- There is another file called `cetml1659on.dat` (available from [here](../data/cetml1659on.dat)). This contains some historical weather data for a location in the UK. Import that file as a Pandas `DataFrame` using `read_csv()`, making sure that you cover all the NaN values. Be sure to look at the [documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv) for `read_csv()`.
- How many years had a negative average temperature in January?
- What was the average temperature in June over the years in the data set? Tip: look in the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html) for which method to call.

We will come back to this data set at a later stage.

Hints for the first part:
* The syntax for whitespace delimited data is `sep='\s+'`, which is not immediately obvious from the documentation.
* The data is almost comlete (which is unusual for scientific data) and there are only two invalid entries. Look at the last row of the file and, given that the data is temperature data, deduce which values need to be `na_values`. (You can use a list to give multiple `na_values`)
* If you can't work out how to do the first part of this exercise, take a look at the solutions.

## Solution: Comma separated files
* Read in the CSV file, skipping the first 6 rows, using whitespace to separate data, invalid data -99.9 and -99.99:

```python
import pandas as pd

weather_csv = 'cetml1659on.dat'
weather_df = pd.read_csv(weather_csv,
                         skiprows=6,
                         sep='\s+',
                         na_values=['-99.9', '-99.99']
                        )
print(weather_df.head())
```

Output:
```brainfuck
      JAN  FEB  MAR  APR   MAY   JUN   JUL   AUG   SEP   OCT  NOV  DEC  YEAR
1659  3.0  4.0  6.0  7.0  11.0  13.0  16.0  16.0  13.0  10.0  5.0  2.0  8.87
1660  0.0  4.0  6.0  9.0  11.0  14.0  15.0  16.0  13.0  10.0  6.0  5.0  9.10
1661  5.0  5.0  6.0  8.0  11.0  14.0  15.0  15.0  13.0  11.0  8.0  6.0  9.78
1662  5.0  6.0  6.0  8.0  11.0  15.0  15.0  15.0  13.0  11.0  6.0  3.0  9.52
1663  1.0  1.0  5.0  7.0  10.0  14.0  15.0  15.0  13.0  10.0  7.0  5.0  8.63

```

* Select all data in the January column less that 0, use `len()` so we don't have to count the rows ourself.

```python
weather_df[weather_df['JAN'] < 0] # Would output all the entries
len(weather_df[weather_df['JAN'] < 0]) # Just counts the number of rows
```

Output:
```brainfuck
20
```

* The average of the data can be found using the `.mean()` method:

```python
weather_df['JUN'].mean()
```

Output:
```brainfuck
14.325977653631282
```
.

## Key Points
* Pandas provides the `read_csv()` function for reading in CSV files.
* Although it saves us a lot of work the syntax can be quite tricky.